fastapi[standard]==0.116.1
gunicorn==23.0.0

# --- Database (PostgreSQL 예시) ---
SQLAlchemy==2.0.42
psycopg2-binary==2.9.10
alembic

# --- Authentication & Security ---
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0

# --- Configuration ---
pydantic-settings==2.10.1

# format
black
python-dotenv~=1.1.1
pydantic~=2.11.7